*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #000;
    --gap: 3rem;
    --linkhover: #e01c1c;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    
}
h2{
    font-size: 5rem;
    text-transform: uppercase;
}
h3{
    font-size: 4rem;
    text-transform: uppercase;
}
h4{
    font-size: 3rem;
    text-transform: uppercase;
}
h5{
    font-size: 2rem;
    text-transform: uppercase;
}
h6{
    font-size: 1rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    
}
a:visited {
    color: #888;
}
a:link {
    color: #666;
}
p{
    margin-bottom: 3rem;
}
.main-bg {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1834%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1835)'%3e%3c/rect%3e%3cpath d='M600.58 103.94 a112.49 112.49 0 1 0 224.98 0 a112.49 112.49 0 1 0 -224.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1325.9243299661841 280.4602474884466L1229.3781103455572 408.5814082830266 1357.4992711401371 505.12762790365355 1454.045490760764 377.00646710907364z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1188.3528685271117 479.2725838372363L1228.6417107836435 362.26528990685125 1111.6344168532585 321.9764476503194 1071.3455745967267 438.9837415807045z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M773.17 263.41 a155.58 155.58 0 1 0 311.16 0 a155.58 155.58 0 1 0 -311.16 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M40.36246787454521 407.4327661239028L20.327295063995283 477.3037171682633 135.15130803581098 472.42100086190794z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1068.9170408026725 234.7561292563839L1067.3778304040368 322.9374339358887 1200.419392622612 281.15559719408986z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M951.8457483345439 642.3322455955608L998.071211797591 500.0648976970449 855.803863899075 453.83943423399785 809.578400436028 596.1067821325138z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1834'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1835'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.37'%3e%3c/stop%3e%3cstop stop-color='rgba(17%2c 20%2c 24%2c 1)' offset='0.56'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
}
.experiencia-bg {
    background: white;
    background-size: cover;
    background-position: center center;
    color: var(--secondary-color);
}
.game-bg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5701%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient5702)'%3e%3c/rect%3e%3cpath d='M757 416L756 558' stroke-width='6' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M856 520L855 831' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M269 448L268 769' stroke-width='6' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M791 90L790 317' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M39 110L38 -266' stroke-width='8' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M26 489L25 823' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M478 129L477 -80' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1391 151L1390 -235' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M630 40L629 447' stroke-width='10' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M649 458L648 220' stroke-width='6' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M659 558L658 208' stroke-width='6' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M106 51L105 297' stroke-width='10' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M476 289L475 -130' stroke-width='10' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M601 44L600 -124' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1166 338L1165 540' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M751 98L750 -72' stroke-width='8' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M163 548L162 758' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M897 5L896 -190' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M751 47L750 439' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M585 124L584 294' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1373 478L1372 894' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1183 135L1182 446' stroke-width='6' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M786 290L785 645' stroke-width='10' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M925 436L924 162' stroke-width='10' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M243 62L242 276' stroke-width='6' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M489 355L488 6' stroke-width='8' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M747 343L746 750' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1434 534L1433 380' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M249 58L248 390' stroke-width='6' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M388 38L387 330' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1260 10L1259 380' stroke-width='8' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M371 155L370 -22' stroke-width='8' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1265 488L1264 849' stroke-width='8' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M473 44L472 -332' stroke-width='10' stroke='url(%23SvgjsLinearGradient5704)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M115 357L114 -51' stroke-width='10' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M961 176L960 451' stroke-width='6' stroke='url(%23SvgjsLinearGradient5703)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5701'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5702'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.02'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient5703'%3e%3cstop stop-color='rgba(3%2c 28%2c 9%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 28%2c 9%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient5704'%3e%3cstop stop-color='rgba(3%2c 28%2c 9%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 28%2c 9%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
}
.contact-bg{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask15047%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient15048)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(0%2c 0)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(0%2c 364)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(364%2c 0)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(364%2c 364)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(728%2c 0)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(728%2c 364)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(1092%2c 0)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15066' transform='translate(1092%2c 364)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask15047'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient15048'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 6%2c 2%2c 1)' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3cg id='SvgjsG15059'%3e%3cpath d='M6.498 9.304L12.139 3.663l1.565 1.566-5.641 5.641z'%3e%3c/path%3e%3cpath d='M6.8 0.457h2.541v8.028H6.8z'%3e%3c/path%3e%3cpath d='M8.072 10.876L2.429 5.238l1.563-1.566L9.636 9.313zM1.2 13.277h13.733v2.266H1.2z'%3e%3c/path%3e%3cpath d='M0.733 9.143h2.267v6.4h-2.267z m12.267 0h2.267v6.4h-2.267z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15056'%3e%3cpath d='M3.474 10.969C3.474 7.665 8.077 0.361 8.077 0.361s4.602 7.305 4.602 10.608c0 2.247-1.506 4.771-4.602 4.771-3.095 0-4.603-2.524-4.603-4.771z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15053'%3e%3cpath d='M7.713 15.485C3.459 15.485 0 12.025 0 7.768 0 3.513 3.459 0.051 7.713 0.051S15.432 3.513 15.432 7.768c0 4.257-3.465 7.716-7.719 7.717z m0-1.91c3.201 0 5.81-2.604 5.81-5.809 0-3.199-2.61-5.807-5.81-5.807-3.202 0-5.804 2.609-5.804 5.807-0.001 3.206 2.602 5.809 5.804 5.809z'%3e%3c/path%3e%3cpath d='M7.753 8.787a0.574 0.574 0 0 1-0.554-0.042 0.578 0.578 0 0 1-0.259-0.399L6.931 3.862a0.58 0.58 0 0 1 1.162 0v3.478l2.975-1.4a0.578 0.578 0 0 1 0.773 0.275c0.138 0.292 0.011 0.637-0.276 0.774l-3.81 1.798z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15052'%3e%3cpath d='M11.986 8.245a46.749 46.749 0 0 1-0.521-0.411c-0.146-0.116-0.293-0.233-0.44-0.348-0.88-0.688-1.797-1.316-2.816-1.407A2.815 2.815 0 0 0 7.954 6.067c-0.086 0-0.171 0.011-0.255 0.018-1.022 0.093-1.942 0.717-2.826 1.408l0.093 0.073c0.108 0.085 0.213 0.168 0.32 0.252C6.165 7.137 7.021 6.576 7.954 6.576c0.93 0 1.784 0.558 2.66 1.236a35.098 35.098 0 0 1 0.535 0.421c0.142 0.113 0.283 0.226 0.426 0.338C12.532 9.32 13.531 10 14.658 10c0.437 0 0.854-0.104 1.257-0.273v-0.557c-0.409 0.197-0.825 0.32-1.257 0.32-0.934 0-1.792-0.563-2.672-1.245z'%3e%3c/path%3e%3cpath d='M11.574 7.496c0.029 0.023 0.059 0.046 0.088 0.07 0.109 0.087 0.216 0.17 0.325 0.256 0.318-0.246 0.635-0.476 0.952-0.67v1.37c0.17 0.111 0.34 0.214 0.51 0.301V6.878c0.315-0.147 0.634-0.248 0.96-0.283v2.537c0.078 0.01 0.157 0.018 0.237 0.018 0.091 0 0.183-0.009 0.273-0.021V6.592c0.34 0.037 0.67 0.144 0.996 0.3V6.336C15.514 6.17 15.099 6.067 14.664 6.067c-1.128 0-2.13 0.68-3.09 1.429z m-7.248 1.08c-0.034-0.027-0.068-0.053-0.102-0.08-0.104-0.083-0.207-0.162-0.31-0.245-0.877 0.678-1.733 1.238-2.665 1.238C0.82 9.49 0.407 9.36 0 9.152v0.562C0.401 9.891 0.815 10 1.249 10c1.124 0 2.122-0.677 3.077-1.423z'%3e%3c/path%3e%3cpath d='M0.989 9.133c0.084 0.011 0.17 0.019 0.254 0.02 0.086 0 0.171-0.008 0.256-0.02V6.592c0.329 0.035 0.65 0.136 0.967 0.285-0.002 0.012-0.007 0.023-0.007 0.036v1.903a5.818 5.818 0 0 0 0.51-0.303V7.152c0.487 0.3 0.971 0.684 1.467 1.08C5.525 9.101 6.652 10 7.948 10c1.123 0 2.121-0.675 3.078-1.42l-0.106-0.084c-0.103-0.082-0.205-0.161-0.306-0.242-0.313 0.242-0.622 0.466-0.934 0.658V7.564A5.816 5.816 0 0 0 9.17 7.261v1.893c0 0.01 0.004 0.019 0.005 0.029-0.316 0.149-0.637 0.252-0.965 0.288V6.937a1.97 1.97 0 0 0-0.267-0.02c-0.082 0-0.163 0.008-0.243 0.017v2.541c-0.33-0.035-0.652-0.136-0.969-0.283 0.002-0.013 0.006-0.024 0.006-0.039V7.248a5.629 5.629 0 0 0-0.51 0.302v1.368c-0.49-0.299-0.976-0.686-1.474-1.083C3.666 6.966 2.539 6.067 1.243 6.067c-0.432 0-0.844 0.096-1.243 0.251v0.55c0.324-0.144 0.652-0.244 0.989-0.278V9.133z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15062'%3e%3cpath d='M2.524 8.637H0.014V7.308h2.51v1.329zM3.656 4.576L1.884 2.804l0.935-0.935 1.772 1.772-0.935 0.935z m0 6.817l0.935 0.935-1.772 1.773-0.934-0.936 1.771-1.772z m4.997-8.884h-1.33V-0.002h1.33v2.511z m-1.33 10.952h1.33v2.51h-1.33v-2.509zM12.344 4.576l-0.96-0.935 1.796-1.772 0.935 0.935-1.772 1.772z m0 6.792l1.771 1.797-0.935 0.936-1.771-1.774 0.936-0.96z m3.643-4.06v1.329h-2.51V7.308h2.509z'%3e%3c/path%3e%3cpath d='M3.702 7.984a4.184 4.184 0 1 0 8.368 0 4.184 4.184 0 1 0-8.368 0'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15065'%3e%3cpath d='M15.233 9.431c0.295 0 0.569-0.239 0.61-0.532 0 0 0.056-0.411 0.056-0.899s-0.056-0.899-0.056-0.899c-0.041-0.292-0.315-0.531-0.61-0.53h-1.524c-0.295 0-0.602-0.188-0.681-0.418s-0.188-0.967 0.021-1.176l1.078-1.077c0.209-0.209 0.225-0.565 0.036-0.792l-1.268-1.268c-0.227-0.189-0.583-0.173-0.792 0.036l-1.078 1.077c-0.208 0.209-0.556 0.293-0.772 0.187s-0.822-0.552-0.821-0.847V0.767c0-0.295-0.239-0.569-0.531-0.61 0 0-0.411-0.057-0.9-0.056s-0.899 0.057-0.899 0.056c-0.293 0.04-0.532 0.315-0.532 0.61v1.524c0 0.295-0.188 0.601-0.418 0.681s-0.967 0.188-1.176-0.021l-1.078-1.078C3.689 1.665 3.333 1.649 3.107 1.837l-1.268 1.268c-0.189 0.227-0.173 0.583 0.036 0.792l1.077 1.078c0.209 0.209 0.293 0.556 0.187 0.772s-0.552 0.822-0.847 0.822H0.767c-0.295 0-0.569 0.239-0.61 0.531 0 0-0.057 0.411-0.056 0.899s0.057 0.899 0.056 0.9c0.04 0.293 0.315 0.532 0.61 0.532h1.525c0.295 0 0.601 0.188 0.681 0.417 0.079 0.23 0.188 0.967-0.02 1.176l-1.078 1.077C1.667 12.311 1.651 12.667 1.84 12.893l1.267 1.268c0.227 0.189 0.583 0.173 0.792-0.036l1.077-1.077c0.209-0.208 0.556-0.292 0.772-0.187s0.821 0.553 0.822 0.848v1.524c0 0.295 0.239 0.569 0.532 0.61 0 0 0.411 0.057 0.899 0.057s0.899-0.056 0.899-0.057c0.293-0.04 0.531-0.315 0.532-0.609v-1.524c0-0.295 0.188-0.602 0.418-0.681 0.23-0.079 0.967-0.188 1.176 0.021l1.077 1.077c0.209 0.209 0.565 0.225 0.792 0.036l1.268-1.267c0.189-0.227 0.173-0.583-0.036-0.792l-1.078-1.077c-0.209-0.209-0.293-0.557-0.186-0.773 0.106-0.216 0.552-0.822 0.847-0.822h1.525zM8 10.892c-1.597 0-2.891-1.294-2.891-2.892 0-1.596 1.295-2.891 2.891-2.891S10.892 6.404 10.892 8 9.597 10.892 8 10.892z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15063'%3e%3cpath d='M6.041 12.752H4.028v-5.742h2.013v5.742z m4.878-5.742h2.014v5.742H10.919v-5.742z m-3.559 0H9.6v5.742H7.36v-5.742z m-5.271 5.742L1.244 14.144l14.525-0.025-0.791-1.369h-0.729v-5.742h1.422V5.008H14.596L8.596 2.974l-6.116 2.034h-1.102v2h1.333v5.742h-0.622z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15057'%3e%3cpath d='M2.396 6.756V16h3.56V10.315H10.085V16h3.559V6.756z'%3e%3c/path%3e%3cpath d='M0.064 8L8.02 0l7.956 8z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15060'%3e%3cpath d='M6.038 10.472H10.08v3.613c0 0.594 0.479 1.073 1.073 1.073s1.066-0.479 1.066-1.073V10.472c0.322 0 0.358-0.207 0.358-0.451V7.323l-3.384-1.652H2.004l-0.923-0.526c-0.3-0.169-0.679-0.061-0.844 0.232a0.613 0.613 0 0 0 0.234 0.844l1.458 0.838v7.026a1.071 1.071 0 0 0 1.073 1.073c0.587 0 1.066-0.479 1.065-1.073v-2.754L6 14.607c0.309 0.508 0.966 0.673 1.467 0.372a1.073 1.073 0 0 0 0.372-1.466l-1.803-3.041z m3.484-5.538l3.047 1.452v-0.573h2.476l0.908-1.96L9.522 0.791v4.143z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15058'%3e%3cpath d='M6.515 16c0.255 0 0.46-0.208 0.46-0.466a0.461 0.461 0 0 0-0.46-0.463c-0.254 0-0.459 0.208-0.459 0.463 0 0.257 0.205 0.466 0.459 0.466z m3.718-0.01c0.255 0 0.461-0.21 0.461-0.47 0-0.257-0.206-0.466-0.461-0.466-0.253 0-0.458 0.209-0.458 0.466 0 0.26 0.205 0.47 0.458 0.471z m-4.626-1.376s-0.27-0.014-0.27-0.295v-0.026c0-0.277 0.27-0.296 0.27-0.295h5.516s0.271 0.026 0.271 0.295v0.026c0 0.27-0.271 0.295-0.271 0.295H5.607z m3.832-12.146c0.674 0 1.222-0.554 1.222-1.236C10.661 0.55 10.113 0 9.439 0c-0.674 0-1.222 0.55-1.222 1.232 0 0.682 0.548 1.237 1.222 1.236zM2.81 13.266A0.78 0.78 0 0 0 2.72 13.633c0 0.434 0.349 0.788 0.782 0.788 0.31 0 0.577-0.182 0.704-0.445l2.667-4.634-1.108-1.118L2.81 13.266z'%3e%3c/path%3e%3cpath d='M8.165 13.058c-0.116 0.263-0.361 0.445-0.648 0.445-0.396 0-0.718-0.354-0.717-0.787 0-0.136 0.03-0.26 0.083-0.37l1.069-2.062-2.086-2.275c-0.801-0.883-0.23-1.837-0.23-1.837l1.123-2.177-2.979 0.004c-0.33 0-0.591-0.292-0.591-0.649 0-0.354 0.262-0.645 0.591-0.645H12.797c0.326 0 0.588 0.292 0.588 0.649 0 0.357-0.263 0.645-0.588 0.645H9.357L7.716 7.152l1.671 1.812c0.585 0.616 0.206 1.309 0.206 1.309L8.165 13.058z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15061'%3e%3cpath d='M10.596 3.917a0.64 0.64 0 0 0-0.639 0.641c0 0.354 0.287 0.64 0.639 0.64a0.639 0.639 0 0 0 0.639-0.64 0.639 0.639 0 0 0-0.639-0.641z m-0.151 5.25a0.642 0.642 0 0 0 0.643 0.641c0.352 0 0.638-0.286 0.637-0.64a0.639 0.639 0 0 0-0.637-0.641 0.641 0.641 0 0 0-0.642 0.641z m-4.678-5.945a0.641 0.641 0 0 0 0 1.282 0.64 0.64 0 0 0 0.642-0.64 0.641 0.641 0 0 0-0.642-0.642z'%3e%3c/path%3e%3cpath d='M8.659 0C5.904 0 3.363 2.068 2.835 4.347c-0.119 0.507-0.25 1.83-0.25 1.829L1.316 9.37A0.488 0.488 0 0 0 1.28 9.561a0.491 0.491 0 0 0 0.491 0.489h0.814v1.697c0 1.323 1.072 2.395 2.394 2.395h0.951V16H12.408V10.847c1.413-1.111 2.32-2.838 2.32-4.775C14.728 2.718 12.01 0 8.659 0z m-4.583 7.387c-0.372 0-0.675-0.304-0.675-0.679a0.677 0.677 0 0 1 0.675-0.677c0.375 0 0.68 0.303 0.68 0.677a0.68 0.68 0 0 1-0.68 0.679z m8.959-0.918l-0.631 0.632-0.77-0.543c-0.148 0.077-0.304 0.139-0.467 0.18l-0.142 0.838h0.294l0.079 0.448c0.031 0.008 0.062 0.013 0.092 0.024 0.079 0.029 0.152 0.067 0.22 0.11l0.355-0.25 0.292 0.291-0.262 0.371c0.056 0.1 0.101 0.206 0.125 0.318l0.429 0.074v0.412l-0.446 0.076c-0.009 0.032-0.013 0.063-0.024 0.094a1.147 1.147 0 0 1-0.112 0.223l0.251 0.353-0.292 0.291-0.369-0.262a1.149 1.149 0 0 1-0.318 0.126l-0.075 0.429H10.851l-0.074-0.448c-0.032-0.009-0.064-0.013-0.096-0.025a1.174 1.174 0 0 1-0.221-0.11l-0.356 0.252L9.815 10.08l0.262-0.37a1.151 1.151 0 0 1-0.125-0.319l-0.431-0.074v-0.411l0.45-0.077c0.008-0.032 0.013-0.063 0.025-0.094 0.029-0.079 0.066-0.152 0.109-0.22l-0.251-0.356 0.291-0.291 0.371 0.262a1.174 1.174 0 0 1 0.317-0.125l0.064-0.372h-0.776L9.96 6.704c-0.035-0.011-0.07-0.02-0.104-0.034a2.221 2.221 0 0 1-0.352-0.168l-0.744 0.524-0.63-0.632 0.542-0.767a2.184 2.184 0 0 1-0.181-0.469l-0.894-0.154V4.27l-0.449 0.078c-0.007 0.022-0.009 0.044-0.017 0.065a1.402 1.402 0 0 1-0.109 0.223l0.345 0.489-0.416 0.414-0.506-0.357a1.438 1.438 0 0 1-0.294 0.116l-0.102 0.586-0.584 0-0.106-0.611c-0.02-0.007-0.042-0.009-0.062-0.017a1.43 1.43 0 0 1-0.226-0.11l-0.49 0.345-0.414-0.415 0.359-0.508a1.485 1.485 0 0 1-0.112-0.291L3.824 4.176V3.589l0.608-0.105c0.007-0.022 0.012-0.043 0.02-0.063 0.029-0.08 0.068-0.154 0.109-0.225l-0.345-0.488 0.413-0.415 0.508 0.358a1.439 1.439 0 0 1 0.295-0.117l0.102-0.586h0.584L6.224 2.56c0.021 0.007 0.043 0.008 0.063 0.016 0.08 0.03 0.154 0.069 0.225 0.11l0.489-0.344 0.415 0.414-0.359 0.507a1.397 1.397 0 0 1 0.115 0.293l0.586 0.101v0.427l0.768-0.132c0.011-0.035 0.02-0.07 0.033-0.105 0.046-0.126 0.104-0.243 0.17-0.355l-0.528-0.74 0.634-0.633 0.77 0.544a2.192 2.192 0 0 1 0.468-0.181l0.151-0.894h0.894l0.162 0.928c0.035 0.01 0.069 0.02 0.104 0.033 0.124 0.046 0.241 0.104 0.352 0.168l0.743-0.523 0.629 0.631-0.542 0.77c0.077 0.148 0.138 0.304 0.18 0.466l0.895 0.154v0.894l-0.929 0.16c-0.011 0.035-0.02 0.07-0.032 0.104-0.046 0.125-0.104 0.242-0.17 0.353l0.525 0.743z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15050'%3e%3cpath d='M1.507 0.867v14.666h12.877V0.867h-12.878z m3.76 12.876H3.087V11.564H5.267v2.179z m0-3.328H3.087V8.236H5.267v2.179z m3.768 3.328H6.856V11.564h2.179v2.179z m0-3.328H6.856V8.236h2.179v2.179z m3.775 3.328H10.631v-5.507h2.179v5.507z m0.08-7.65h-9.78V2.602h9.78V6.093z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15051'%3e%3cpath d='M9.412 5.113c1.273 0 2.378 0.701 2.988 1.734l3.596 0.004v-1.949c0-0.725-0.584-1.314-1.299-1.314H1.295C0.578 3.588 0 4.176 0 4.902l0.004 1.932 6.418 0.005c0.614-1.029 1.715-1.725 2.99-1.725M3.361 2.97h-1.192l-0.138 0.434h1.429l-0.099-0.434zM14.11 2.738h-1.587L12.242 3.408H14.368l-0.258-0.67zM8.662 3.177h-1.366V2.508h1.366v0.669zM9.914 2.24h-3.857l-0.795 1.176h5.38L9.914 2.24z m2.672 4.955c0.199 0.443 0.316 0.93 0.316 1.449 0 1.949-1.563 3.531-3.49 3.531-1.93 0-3.493-1.582-3.493-3.531 0-0.519 0.116-1.006 0.316-1.451H0V12.514c0 0.721 0.577 1.309 1.295 1.309h13.401c0.716 0 1.299-0.588 1.3-1.309L16 7.195H12.586z'%3e%3c/path%3e%3cpath d='M11.315 7.484a1.717 1.717 0 0 0-0.199-0.278c-0.408-0.496-1.018-0.822-1.704-0.823-0.69 0-1.299 0.324-1.707 0.818-0.075 0.09-0.144 0.182-0.203 0.283-0.205 0.34-0.33 0.734-0.329 1.16 0 1.246 1.002 2.258 2.237 2.258 1.23 0 2.232-1.013 2.232-2.259 0-0.427-0.122-0.819-0.329-1.16'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15064'%3e%3cpath d='M0.045 14.984h15.726V0H0.045v14.984zM1.389 3.404c0-1.105 0.893-2 2.004-2h9.04a2 2 0 0 1 2.002 2V8.838H13.221l-0.751-2.043a0.317 0.317 0 0 0-0.596 0.004c-0.045 0.125-0.212 0.602-0.42 1.194-0.32-1.336-0.993-4.158-0.993-4.158a0.315 0.315 0 0 0-0.326-0.243c-0.155 0.008-0.28 0.126-0.298 0.28s-0.515 4.598-0.664 5.913c-0.269-0.404-0.536-0.808-0.536-0.809a0.318 0.318 0 0 0-0.264-0.139h-1.221a1168.611 1168.611 0 0 0-0.749-2.043 0.32 0.32 0 0 0-0.301-0.206 0.312 0.312 0 0 0-0.294 0.21l-0.424 1.194c-0.319-1.335-0.992-4.158-0.992-4.157a0.317 0.317 0 0 0-0.624 0.037c0-0.001-0.515 4.596-0.664 5.912L2.567 8.977a0.316 0.316 0 0 0-0.263-0.139H1.389V3.404z m11.043 10.332H3.392a2 2 0 0 1-2.003-2.005v-2.261h0.741c0.156 0.233 0.924 1.389 0.924 1.39a0.318 0.318 0 0 0 0.58-0.14c0.016-0.133 0.341-3.034 0.56-4.975 0.366 1.541 0.821 3.439 0.821 3.439 0.031 0.137 0.15 0.236 0.29 0.243 0.142 0.008 0.269-0.079 0.316-0.211 0 0 0.257-0.731 0.487-1.377 0.243 0.661 0.526 1.423 0.526 1.423a0.312 0.312 0 0 0 0.295 0.208h1.271c0.156 0.232 0.925 1.389 0.925 1.389a0.316 0.316 0 0 0 0.337 0.132c0.131-0.03 0.227-0.14 0.241-0.272s0.342-3.034 0.561-4.976c0.366 1.543 0.819 3.44 0.82 3.44 0.032 0.137 0.15 0.236 0.29 0.243 0.142 0.008 0.269-0.079 0.315-0.211 0 0 0.26-0.731 0.488-1.377 0.242 0.661 0.523 1.423 0.523 1.423a0.315 0.315 0 0 0 0.296 0.208h1.436v2.261a2.001 2.001 0 0 1-2 2.003z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15054'%3e%3cpath d='M15.964 4.774l-1.312 10.327H10.223L8.916 4.774h5.408L15.395 1.04 16 1.21l-1.024 3.562 0.988 0.002zM8.29 10.788s0.166-1.502-2.131-1.502H2.5c-2.293 0-2.131 1.502-2.132 1.502h7.922zM0.368 13.595s-0.162 1.506 2.132 1.506h3.659c2.297 0 2.131-1.506 2.131-1.506H0.369z m7.578-0.727a0.68 0.68 0 0 0 0.68-0.68c0-0.372-0.304-0.676-0.68-0.676H0.68C0.306 11.512 0 11.816 0 12.188a0.682 0.682 0 0 0 0.68 0.68h7.266z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15055'%3e%3cpath d='M8 2.022C3.815 2.022 0.422 4.579 0.422 7.733c0 1.544 0.814 2.944 2.135 3.972l0.003 3.427 3.961-1.798c0.479 0.071 0.973 0.11 1.48 0.11 4.185 0 7.578-2.557 7.578-5.711 0-3.154-3.392-5.711-7.577-5.711zM4.81 8.933a1.067 1.067 0 1 1 0-2.133 1.067 1.067 0 0 1 0 2.133z m3.186 0a1.067 1.067 0 1 1 0-2.133 1.067 1.067 0 0 1 0 2.133z m3.143 0c-0.589 0-1.067-0.478-1.067-1.066s0.477-1.067 1.067-1.067 1.067 0.478 1.067 1.067a1.067 1.067 0 0 1-1.067 1.066z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15049'%3e%3cpath d='M8 14.66l5.904-5.908c1.836-1.836 1.8-4.512 0.132-6.174A4.268 4.268 0 0 0 8 2.58a4.264 4.264 0 0 0-6.03-0.02C0.3 4.24 0.26 6.92 2.1 8.744L8 14.66z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG15066'%3e%3cuse xlink:href='%23SvgjsG15049' transform='translate(0%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15050' transform='translate(0%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15049' transform='translate(0%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15051' transform='translate(0%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15052' transform='translate(0%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15050' transform='translate(0%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(0%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15054' transform='translate(0%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15050' transform='translate(0%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(0%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(36.4%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(36.4%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(36.4%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(36.4%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(36.4%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15058' transform='translate(36.4%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(36.4%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(36.4%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15051' transform='translate(36.4%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(36.4%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(72.8%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15061' transform='translate(72.8%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(72.8%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(72.8%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(72.8%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(72.8%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(72.8%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(72.8%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(72.8%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15063' transform='translate(72.8%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(109.19999999999999%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15051' transform='translate(109.19999999999999%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15064' transform='translate(109.19999999999999%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(109.19999999999999%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(109.19999999999999%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15064' transform='translate(109.19999999999999%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(109.19999999999999%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15052' transform='translate(109.19999999999999%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15061' transform='translate(109.19999999999999%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(109.19999999999999%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(145.6%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(145.6%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(145.6%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15049' transform='translate(145.6%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15065' transform='translate(145.6%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15049' transform='translate(145.6%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(145.6%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(145.6%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(145.6%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(145.6%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(182%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(182%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15050' transform='translate(182%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15052' transform='translate(182%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15051' transform='translate(182%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15061' transform='translate(182%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15059' transform='translate(182%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(182%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15050' transform='translate(182%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15061' transform='translate(182%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(218.39999999999998%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15058' transform='translate(218.39999999999998%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15063' transform='translate(218.39999999999998%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(218.39999999999998%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(218.39999999999998%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15063' transform='translate(218.39999999999998%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(218.39999999999998%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(218.39999999999998%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(218.39999999999998%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15058' transform='translate(218.39999999999998%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(254.79999999999998%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15064' transform='translate(254.79999999999998%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15054' transform='translate(254.79999999999998%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15049' transform='translate(254.79999999999998%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15051' transform='translate(254.79999999999998%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15052' transform='translate(254.79999999999998%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15051' transform='translate(254.79999999999998%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(254.79999999999998%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(254.79999999999998%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(254.79999999999998%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15055' transform='translate(291.2%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(291.2%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(291.2%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15062' transform='translate(291.2%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15064' transform='translate(291.2%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15063' transform='translate(291.2%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15049' transform='translate(291.2%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15058' transform='translate(291.2%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(291.2%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(291.2%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15061' transform='translate(327.59999999999997%2c 0) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(327.59999999999997%2c 36.4) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(327.59999999999997%2c 72.8) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(327.59999999999997%2c 109.19999999999999) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(327.59999999999997%2c 145.6) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15057' transform='translate(327.59999999999997%2c 182) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15053' transform='translate(327.59999999999997%2c 218.39999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15056' transform='translate(327.59999999999997%2c 254.79999999999998) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15060' transform='translate(327.59999999999997%2c 291.2) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG15058' transform='translate(327.59999999999997%2c 327.59999999999997) scale(1.4)' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");             
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);

}
.menu{
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--primary-color);
    z-index: 1;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1{
    color:var(--secondary-color);
    font-size: 4rem;
    position: relative;
    left: 2rem;
}
.menu-heading{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
    color: var(--secondary-color);
}
.main-content{
    max-width: 100vh;
    margin: 0 auto;
    padding: var(--gap);
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.6rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--linkhover);
    transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 60%;
    left: 21%;

}
.menu-spacing{
    height: 65px;
}
.objetivo-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    justify-content: center;
}
.objetivo-text, .objetivo-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.objetivo-text{
    font-size: 2rem;
    margin-bottom: 5rem;
    line-height: 1.2;
}
.objetivo-text a{
    text-decoration: underline;
    font-weight: 700;
}
.objetivo-text > h2{
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
.objetivo-img{
    width: 100%;
    height: auto;
}
.objetivo-img > img{
    border-radius: 50%;
    width: 75%;
    position: relative;
    left: 14%;
}
.obj-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr)/1fr;
    gap: var(--gap);
    margin-top: 5rem;
}
.experiencia-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: fit-content;
    min-height: 100vh;
    text-align: center;
    padding-top: 8rem;
}
.exp-grid{
    display:grid;
    grid-template-rows: auto auto;
}
.btn-curriculo{
    padding: 3px;
    margin: 2px;
    color: #000;
}
.details{
    display: flex;
    margin: auto;
    margin-top: 3rem;
}
.details > img{
    margin-top: 5rem;
}

details:hover {
    border-bottom:0.4rem solid var(--linkhover) ;
    transition:all 235ms ease-in-out;
    padding-bottom: 0;
}

details[open] img{
    position: relative;
    right: 50rem;
    top: 0.5rem;
    animation: animateDown 800ms linear forwards;
  }
  
  @keyframes animateDown {
    0% {
      opacity: 0;
      transform: translatey(-15px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }

.summary{
    display: flex;
    height: min-content;
    justify-content: center;
    cursor: pointer;
}
.exp-list{
    display: inline-block;
    margin-top: 10%;
    
}
.exp-img{
    display: block;
    width: 50%;
    height: auto;
    margin: 5rem;
    left: 22.5%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap);
    counter-reset: gridcounter;
    margin-top: 5rem;
}
.grid h3{
    font-size: 3.5rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid img{
    width: 40rem;
    height: 27rem;
    border: 3px solid green;
    border-radius: 3rem;
}

.grid h3::before{
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    left: -0.5rem;
    bottom: 1.7rem;
    transform: rotate(3deg);
}
.game-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: fit-content;
    min-height: 100vh;
}
.game-heading{
    text-align: center;
}
.contact-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}
.grid-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr)/1 fr 1fr 1fr;
}
.grid-item{
    display: flex;
    justify-content: flex-start;
    gap: var(--gap);
    
}
.calculadora{
    grid-area: calculadora;
}
.campominado{
    grid-area: campominado;
}
.snakegame{
    grid-area: snakegame;
}
.supertrunfo{
    grid-area: supertrunfo;
}
.contact-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
   height: fit-content;
}
.contact-text, .contact-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 50%;
}
.contact-text{
    font-size: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
.contact-text > h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.contact-img{
    width: 100%;
    height: auto;
}
.contact-img > img{
    border-radius: 25%;
    width: 65%;
    position: relative;
    left: 22%;
    top: -22%;
    border: 0.4rem solid var(--secondary-color);
}
.contact-list li{
    display: flex;
    justify-content: center;
    list-style: none;
    border: 1px solid #000;
    background: #ffffff;
    margin: 1rem 0 1rem 0;
    color: var(--secondary-color);
    padding: 0.5rem;
    font-weight: 500;
}
.contact-list a{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.contact-list img{
    width: 2.3rem;
}
.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-group{
    flex: 1 1 320px;

}
.form-group label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    box-shadow: 2px 2px 1px;
    border: 1px solid;
    background-color: rgb(24, 23, 23);
    padding: 0.4rem;
    padding-left: 2rem;
}
.form-group input,
.form-group textarea{
    border: 1px solid;
    background: var(--primary-color);
    padding: 1rem 1.5rem;
    width: 100%;
}
.full-width{
    width: 100%;
    flex: 1 1 100%;
}
.form-group button{
    border: 0.2rem solid var(--linkhover);
    background-color: rgb(24, 23, 23);
    color: var(--primary-color);
    font-size: 3rem;
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.form-grid legend{
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2.5rem;
    box-shadow: 5px 5px 2px;
    border: 1px solid;
    background-color: rgb(24, 23, 23);
    padding: 0.8rem;
}
.contact-text li a{
    text-decoration: none;
}
.footer{
    text-align: center;
    font-size: 1.1rem;
}
.footer a{
    color: var(--secondary-color);
}
.footer p{
    margin: 0;
    padding: 3rem;
}
.footer img{
    width: 1rem;
}
.close-menu {
    display: none;
  }
  
  .back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--primary-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--secondary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--secondary-color);
  }
@media (max-width:540px){
    .objetivo-content{
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
        height: fit-content;
    }
    .objetivo-img{
        margin-bottom: 10rem;
    }
    .objetivo-text{
        position: relative;
        top: 5rem;
        height: 100vh;
    }
    .grid, .game-content{
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
        height: fit-content;
    }
    .objetivo-text{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: fit-content;
        min-height: 100vh;
        text-align: center;
        padding-top: 8rem;
    }
    .exp-img{
        position: relative;
        bottom:5rem ;
    }
    .contact-img > img{
        border-radius: 25%;
        width: 80%;
        position: relative;
        left: 8%;
        top: -22%;
        border: 0.4rem solid var(--secondary-color);
    }

    .menu {
        bottom: 0;
        text-align: center;
      }
    
      .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
      }
    
      .menu-content {
        height: 100vh;
      }
    
      .menu {
        display: none;
        
      }    
      .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
      }
    
      .close-menu:checked~.menu {
        display: block;
      }
    
      .close-menu:checked~.close-menu-label::after {
        content: '×';
      }
    
      .menu-spacing {
        display: none;
      }
      .menu ul li a::after {
        content: '';
        position: absolute;
        bottom: 1.6rem;
        left: 50%;
        width: 0;
        height: 0.2rem;
        background: var(--linkhover);
        transition: all 300ms ease-in-out;
    }
    
    .menu ul li a:hover::after {
        width: 60%;
        left: 21%;
    }
    .menu .menu-heading {
        display: flex;
        left: 0px;
       }
}
@media (min-width:541px) and (max-width:820px){
    .objetivo-content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--gap);
        height: fit-content;
    }
    .objetivo-img{
        margin-bottom: 5rem;
    }
    .objetivo-text{
        position: relative;
        top: 5rem;
        height: 100vh;
    }
    .objetivo-text{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: fit-content;
        min-height: 100vh;
        text-align: center;
        padding-top: 8rem;
    }
    .grid, .game-content{
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
        height: fit-content;
    }
    .menu {
        bottom: 0;
        text-align: center;
      }
    
      .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
      }
    
      .menu-content {
        height: 100vh;
      }
    
      .menu {
        display: none;
        
      }    
      .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
      }
    
      .close-menu:checked~.menu {
        display: block;
      }
    
      .close-menu:checked~.close-menu-label::after {
        content: '×';
      }
    
      .menu-spacing {
        display: none;
      }
      .menu ul li a::after {
        content: '';
        position: absolute;
        bottom: 1.6rem;
        left: 50%;
        width: 0;
        height: 0.2rem;
        background: var(--linkhover);
        transition: all 300ms ease-in-out;
    }
    
    .menu ul li a:hover::after {
        width: 60%;
        left: 21%;
    }
    .menu .menu-heading{
        display: flex;
        left: 0px;
       }

}
@media (min-width:821px) and (max-width:3840px){
    .objetivo-content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--gap);
        height: fit-content;
    }
    .objetivo-img{
        margin-bottom: 5rem;
    }
    .objetivo-text{
        position: relative;
        top: 5rem;
        height: 100vh;
    }
    .objetivo-text{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: fit-content;
        min-height: 100vh;
        text-align: center;
        padding-top: 8rem;
    }
    .grid, .game-content,.game-heading{
        display: grid;
        grid-template-columns: repeat(2,1fr)/1fr 1fr;
        gap: var(--gap);
        height: fit-content;
    }
    .game-content{
        height: fit-content;
    }
    .game-heading{
        position: relative;
        top: 50%;
    }
    .grid{
        height: 100%;
        min-height: 100%;
    }
}
@media (min-width:721px) and (max-width:3840px) and (max-height:800px){
    .grid, .game-content,.game-heading{
        display: grid;
        grid-template-columns: repeat(2,1fr)/2fr 2fr;
        gap: var(--gap);
        height: fit-content;
    }
}
@media (min-width:541px) and (max-width:820px){
    .obj-grid{
        display: grid;
        grid-template-areas: 
        "item1 item1 item1 item2 item2 item2"
        "item1 item1 item1 item2 item2 item2"
        "item1 item1 item1 item2 item2 item2"
        "item3 item3 item3 item3 item3 item3"
        "item3 item3 item3 item3 item3 item3"
        "item4 item4 item4 item5 item5 item5"
        "item4 item4 item4 item5 item5 item5"
        "item6 item6 item6 item6 item6 item6"
        "img img img img img img"
        "img img img img img img"
        "img img img img img img"
        ;
        grid-template-columns: min-content;
        grid-template-rows: subgrid;
        width: 90vw;
    }
    .objetivo-img{
        width: 30vw;
        height: auto;
    }
    .objetivo-img > img{
        border-radius: 50%;
        width: 40vw;
        position: relative;
        left: 25vw;
    }
    .item-dec{
        text-align: left;
        padding: 1rem;
        box-sizing: 10rem 10rem;
        align-content: center;
    }
    .obj-item1{
        grid-area: item1;
    }
    .obj-item2{
        grid-area: item2;
    }
    .obj-item3{
        grid-area: item3;
    }
    .obj-item4{
        grid-area: item4;
    }
    .obj-item5{
        grid-area: item5;
    }
    .obj-item6{
        grid-area: item6;
    }
    .obj-img{
        grid-area: img;
    }
}
@media (min-width:821px) and (max-width:1420px){
    .obj-grid{
        display: grid;
        grid-template-areas: 
        "item1 item1 item1 item1 img img img"
        "item1 item1 item1 item1 img img img"
        "item2 item2 item2 item2 img img img"
        "item2 item2 item2 item2 img img img"
        "item3 item3 item3 item3 img img img"
        "item4 item4 item4 item4 img img img"
        "item5 item5 item5 item5 img img img"
        "item5 item5 item5 item5 img img img"
        "item6 item6 item6 item6 img img img";
        grid-template-columns: min-content;
        grid-template-rows: subgrid;
        width: 75vw;
    }
    .objetivo-img{
        width: 30vw;
        height: auto;
    }
    .objetivo-img > img{
        border-radius: 50%;
        width: 75%;
        position: relative;
        left: 14%;
    }
    .item-dec{
        text-align: left;
        padding: 1rem;
        box-sizing: 10rem 10rem;
        align-content: center;
    }
    .obj-item1{
        grid-area: item1;
    }
    .obj-item2{
        grid-area: item2;
    }
    .obj-item3{
        grid-area: item3;
    }
    .obj-item4{
        grid-area: item4;
    }
    .obj-item5{
        grid-area: item5;
    }
    .obj-item6{
        grid-area: item6;
    }
    .obj-img{
        grid-area: img;
    }
}
@media (min-width:1421px) and (max-width:3840px){
    .obj-grid{
        display: grid;
        grid-template-areas: 
        "item1 item1 item2 item2 item2 img img img"
        "item1 item1 item2 item2 item2 img img img"
        "item3 item3 item3 item3 item3 img img img"
        "item4 item4 item5 item5 item5 img img img"
        "item4 item4 item5 item5 item5 img img img"
        "item6 item6 item6 item6 item6 img img img";
        grid-template-columns: min-content;
        grid-template-rows: subgrid;
        width: 75vw;
    }
    .objetivo-img{
        width: 30vw;
        height: auto;
    }
    .objetivo-img > img{
        border-radius: 50%;
        width: 75%;
        position: relative;
        left: 14%;
    }
    .item-dec{
        text-align: left;
        padding: 1rem;
        box-sizing: 10rem 10rem;
        align-content: center;
    }
    .obj-item1{
        grid-area: item1;
    }
    .obj-item2{
        grid-area: item2;
    }
    .obj-item3{
        grid-area: item3;
    }
    .obj-item4{
        grid-area: item4;
    }
    .obj-item5{
        grid-area: item5;
    }
    .obj-item6{
        grid-area: item6;
    }
    .obj-img{
        grid-area: img;
    }
}
